<!DOCTYPE html>
<html lang="en">
    <head>
        @{ await Html.RenderPartialAsync("_MetaPartial"); }
        <title>@ViewBag.Title</title>
        <!-- Layout styles -->
        <link rel="stylesheet" href= "~/assets/css/style.css"> 
        <!-- End layout styles -->
        @await RenderSectionAsync("Styles", required: true)
    </head>
    <body>
    <div class="container-scroller">
        @{ await Html.RenderPartialAsync("_SidebarPartial"); }
        <div class="container-fluid page-body-wrapper">
            @{ await Html.RenderPartialAsync("_NavbarPartial"); }
            <div class="main-panel">
                @RenderBody()
                @{ await Html.RenderPartialAsync("_FooterPartial"); }
            </div>
        </div>
    </div>
        @await RenderSectionAsync("Scripts", required: true)
        @{ await Html.RenderPartialAsync("_ValidationScriptPartial"); }
    </body>
</html>