@model BugtrackerHF.Models.ViewModels.CreateIssueViewModel
@{
    ViewData["Title"] = "Log Issue";
}

@section Styles {
    <link rel="stylesheet" href="~/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/assets/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="~/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
}

@section Scripts {
    <script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/assets/vendors/select2/select2.min.js"></script>
    <script src="~/assets/js/off-canvas.js"></script>
    <script src="~/assets/js/hoverable-collapse.js"></script>
    <script src="~/assets/js/misc.js"></script>
    <script src="~/assets/js/settings.js"></script>
    <script src="~/assets/js/todolist.js"></script>
    <script src="~/assets/js/select2.js"></script>
}

<div class="content-wrapper">
<!-- add custom html here -->
<div class="row justify-content-center">
    <div class="col-md-8 col-sm-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Issue Details</h4>
                <form asp-controller="Issue" asp-action="CreateIssue" method="post" class="forms-sample">
                    <div class="form-group">
                        <label>Project</label>
                        <select asp-for="@Model.SelectedProjectId" class="form-control form-control-sm text-white" id="exampleFormControlSelect3">
                            @{
                                if (Model.ProjectList.Any())
                                {
                                    foreach (var project in Model.ProjectList)
                                    {
                                        <option value="@project.Id">@project.ProjectName</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputUsername1">Issue Name</label>
                        <input asp-for="Title" class="form-control text-white" id="exampleInputUsername1" placeholder="Issue name">
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <input asp-for="Description" class="form-control text-white" id="exampleTextarea1" cols="5" rows="7" placeholder="Describe the problem">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-info">Attach Files</button>
                    </div>
                    <button type="submit" class="btn btn-outline-primary me-2">Submit</button>
                    <button class="btn btn-outline-danger">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
