<!DOCTYPE html>
<html lang="en">
<head>
    @{ await Html.RenderPartialAsync("_MetaPartial"); }
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href= "~/assets/css/style.css">
    @await RenderSectionAsync("Styles", required: true)    
</head>
<body>
<div class="container-scroller">
    @RenderBody()
</div>
@await RenderSectionAsync("Scripts", required: true)
@{ await Html.RenderPartialAsync("_ValidationScriptPartial"); }
</body>
</html>


